annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
click==8.4.1
colorama==0.4.6
fastapi==0.136.1
greenlet==3.3.2
h11==0.16.0
idna==3.16
numpy==2.4.3
pydantic==2.12.5
pydantic_core==2.41.5
SQLAlchemy==2.0.48
sqlmodel==0.0.37
starlette==1.0.1
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.47.0
